:root {
    --primary-color: #2D2D2D;
    --bg-light: #F3F3F3;
    --max-width: 1280px;
    --section-padding: 42px 24px;
    --font-family: "Epilogue", sans-serif;
    --bg-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    width: 100%;
}

.textContent {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.textlitle {
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 42px;
    background-color: var(--bg-color);
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

/*header-section*/
.header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    gap: 42px 68px;
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--section-padding);
}

.header-section .header-content {
    display: flex;
    flex: 1 0 0;
    min-width: 320px;
    max-width: 620px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

}

.header-section .header-content .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-right: 140px;
}


.title .visual {
    font-size: 68px;
    font-weight: 600;
    color: var(--primary-color);
    font-style: normal;
}

.title .subtitle {
    width: 620px;
}

.title .btn-contact {
    background-color: var(--primary-color);
    padding: 24px 64px;
    color: var(--bg-color);
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    border: none;
    width: 211px;
    height: 78px;
}

.header-section .header-image,
.header-image img {
    height: 360px;
    max-width: 480px;
    min-width: 320px;
    flex: 1 0 0;
}

/*logo bar*/
.logo-bar {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    row-gap: 68px;
    justify-content: space-between;
    padding: 42px 68px;
    align-items: center;
    background-color: var(--bg-color);
}

.logo-bar img {
    margin-left: 50px;
}

/*skills section*/
.skills-section {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 42px;
    background-color: var(--bg-color);
    padding: var(--section-padding);

}

.skills-section .cards-section {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.skills-section .cards-section .skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    padding: 64px 42px;
    gap: 42px;
    flex: 1 0 0;
}

.skills-section .cards-section .skills-card .skills-card-icon,
.skills-card-icon img {
    width: 152px;
    height: 133px;
}

.skills-card-content {
    width: 310px;
    height: 135px;
}

.skills-card-content .title {
    font-size: 27px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.skills-card-content .template {
    font-size: 17px;
    color: var(--primary-color);
    line-height: 27px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    width: 310px;
    height: 81px;
}

/*gallery section*/
.gallery-section {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--bg-color);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.gallery-section .latest-work {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
}

.gallery-section .cards-section {
    width: 1250px;
    height: 860px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-section .cards-section .gallery-card {
    width: 395px;
    height: 330px;
}

.gallery-section .cards-section .gallery-card .img-gallery-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 24px;
}

.gallery-section .cards-section .gallery-card .title-desciption {
    display: flex;
    flex-direction: column;
}

.gallery-section .cards-section .gallery-card .title-desciption .project-title {
    color: var(--primary-color);
    margin-bottom: 8px;
}

/*testimonial*/
.testimonial-section {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: var(--bg-color);
    display: flex;
    padding: var(--section-padding);
    flex-direction: column;
    gap: 42px;
}

.testimonial-section .testimonial {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    line-height: 42px;

}

.testimonial-section .testimonial-cards-section {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.testimonial-section .testimonial-cards-section .testimonial-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
    min-width: 320px;
    padding: 42px;
    flex: 1 0 0;
    background-color: var(--bg-light);

}

.testimonial-cards .template-text {
    width: 100%;
    height: 90px;
}

.testimonial-cards .client-image-info {
    display: flex;
    gap: 16px;
}

.testimonial-cards .client-image-info .client-image,
.client-image img {
    margin-right: 16px;
    width: 50px;
    height: 50px;
}

.testimonial-cards .client-image-info .info-stars {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.info-stars .stars {
    display: flex;
    gap: 6px;
}

.info-stars .stars img {
    width: 20px;
    height: 20px;
}

.info-stars .name-company {
    display: flex;
    flex-direction: column;
}

.info-stars .name-company .name {
    margin-bottom: 5px;
}

/*contact section*/
.contact-section {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: var(--bg-color);
    display: flex;
    padding: 42px 24px 86px 24px;
    flex-direction: column;
    gap: 24px;
}

.contact-section .contact-text {
    width: 626px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
}

.contact-section .contact-section-content {
    display: flex;
    gap: 42px 142px;
    flex-wrap: wrap;
}

.contact-section-content .contact-info {
    display: flex;
    flex-direction: column;
    gap: 42px;
    flex: 1 0 0;
    min-width: 320px;
}

.contact-section-content .contact-info .social-links {
    display: flex;
    gap: 24px;
}

.contact-section-content .contact-info .social-links img {
    width: 36px;
    height: 36px;
}

.contact-section-content .contact-form {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 520px;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.contact-section-content .contact-form .input-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.input-fields input {
    display: flex;
    gap: 10px;
    padding: 16px 24px;
    min-width: 320px;
    max-width: 520px;
    border: none;
    background-color: var(--bg-light);
}

.input-fields input::placeholder {
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    font-family: var(--font-family);
    color: var(--primary-color);
}

.contact-form .btn-submit {
    padding: 24px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
}

.contact-form .btn-submit .btn-submit-text {
    text-align: center;
    color: #fff;
    font-family: var(--font-family);
}